.favorites-img {
  max-width: 150px;
  border-radius: 50%;
  float: left;
}

.favorites-col {
  vertical-align: middle;
  width: fit-content;
  height: fit-content;
  border: 8px dotted #eebf5b;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 20px;
  cursor: pointer;
}

.favorites-col:hover {
  transform: scale(1.02);
  background-color: white;
}

.favorites-food-name-row {
  width: fit-content;
  padding-top: 18px;
  padding-bottom: 13px;
  padding-left: 8px;
  padding-right: 8px;
}

.favorites-food-name {
  width: fit-content;
  padding: 0;
  margin: 0;
}

.remove-margin-top {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .favorites-food-name {
    font-size: calc(1.375rem + 1.5vw);
  }
}
