.ratio {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

#recipe-header {
  margin-bottom: -30px;
}

#recipe-detail {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

#recipe-img {
  position: absolute;
  rotate: 45deg;
  transform: translatex(-70%);
  z-index: -1;
  max-width: 1000px;
  border-radius: 20px;
}

.recipe-btn {
  margin-left: 20px;
  font-size: 22px !important;
  cursor: default !important;
}

.recipe-btn:hover {
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}

.recipe-btn:active {
  background-color: var(--bs-btn-bg) !important;
  border-color: var(--bs-btn-border-color) !important;
}

.recipe-btn-container {
  text-align: left;
}
