@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap");

.ratio {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.recipe-header {
  margin-bottom: -30px;
}

.recipe-detail {
  font-family: "Klee One", cursive;
  font-size: 80%;
  text-align: left;
  margin: 20px;
  padding: 20px;
  padding-left: 50px;
}

#recipe-img {
  position: absolute;
  rotate: 45deg;
  transform: translatex(-70%);
  z-index: -1;
  max-width: 1000px;
  border-radius: 20px;
}

#favorite-recipe-icon {
  margin-top: 40px;
  width: 90px;
  cursor: pointer;
}

.favorite-recipe-row {
  float: right;
}

.ingredient-fit-content {
  width: fit-content;
}

@media only screen and (max-width: 768px) {
  #favorite-recipe-icon {
    margin-top: 15px;
    width: 50px;
  }

  .recipe-detail {
    font-size: 60%;
    margin-bottom: 5px;
  }
}
