.hamburger-col {
  padding-top: 120px !important;
  padding-left: 70px !important;
  padding-right: 0 !important;
  position: sticky;
  position: -webkit-sticky;
  top: 30px;
}

.menu-nav {
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: #512e02;
}

.active {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  font-size: 50px;
  border: #dbe5fa 2px solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #dbe5fa;
}

.sub-nav {
  width: 70px;
  height: 70px;
  font-size: 50px;
}

svg {
  padding-top: 15px;
  vertical-align: top;
}
