.hamburger-col {
  width: fit-content;
  height: fit-content;
  margin-top: 120px !important;
  padding-left: 70px !important;
  padding-right: 0 !important;
  position: sticky;
  position: -webkit-sticky;
  top: 40px;
}

.menu-nav {
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: #512e02;
}

.active {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  font-size: 50px;
  border: #dbe5fa 2px solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #dbe5fa;
}

.sub-nav {
  width: 70px;
  height: 70px;
  font-size: 50px;
}

svg {
  padding-top: 15px;
  vertical-align: top;
}

@media only screen and (max-width: 768px) {
  .menu-nav {
    margin-right: 0 !important;
  }

  .hamburger-col {
    padding-top: 70px !important;
    padding-left: 20px !important;
    float: left;
    top: 160px;
  }
}
