.categories-col {
  margin: 10px;
}

.categories-col:hover {
  transform: scale(1.07);
}

.categories-img {
  width: 140px;
}

.countries-col {
  margin: 20px;
  margin-bottom: 0;
}

.countries-col:hover {
  transform: scale(1.08);
}

.countries-img {
  width: 120px;
  height: 70px;
}

.categories-hr {
  border-top: 8px dotted #eebf5b;
  margin: 30px 0 30px 0 !important;
}
