.categories-img {
  width: 140px;
  cursor: pointer;
}

.categories-img:hover {
  width: 150px;
}

.countries-img {
  width: 120px;
  height: 70px;
  cursor: pointer;
}

.countries-img:hover {
  width: 130px;
  height: 80px;
}

.categories-col {
  margin: 10px;
}

.countries-col {
  margin: 20px;
  margin-bottom: 0;
}

hr {
  border-top: 8px dotted #ffae00;
  margin: 30px 0 30px 0 !important;
}

h2 {
  text-decoration: underline;
  margin-bottom: 30px;
  text-align: left;
}
