@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap");

.header {
  font-family: "Zilla Slab Highlight", cursive;
  color: rgb(40, 40, 40);
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .header {
    font-family: "Zilla Slab Highlight", cursive;
    margin-top: 20px;
  margin-bottom: 20px;
  }
}
