.App {
  text-align: center;
}

.container {
  margin: 50px;
}

.btn-info {
  margin: 15px;
}

h1 {
  margin: 50px 0 50px 0 !important;
}

img {
  max-width: 300px;
  padding-bottom: 40px;
  border-radius: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .chosen-food {
    animation: chosen-food-zoom 0.4s linear;
    max-width: 350px;
  }
}

@keyframes chosen-food-zoom {
  from {
    max-width: 300px;
  }
  to {
    max-width: 350px;
  }
}
